<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="quicklog.csv"/>
    <add key="EmpPath" value="employees.json"/>
  </appSettings>
  <!--<connectionStrings>
    <add name="CHIPSDB" connectionString="Data Source=localhost\\SQLEXPRESS;Database=QuickLogTest;IntegratedSecurity=t"/>
  </connectionStrings>-->
</configuration>